<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="bootstrap.css" rel="stylesheet" >

    <title>Home</title>
</head>
<body>
    <!-- Start Nav -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Database Buku</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <button type="button" class="nav-link" style="border: 0ch;background: transparent;" data-bs-toggle="modal" data-bs-target="#modalAdd">
                            Tambah Data
                        </button>
                        
                    </li>

                    <li class="nav-item">
                        <button type="button" class="nav-link" style="border: 0ch;background: transparent;" data-bs-toggle="modal" data-bs-target="#modalEdit">
                            Edit Data
                        </button>
                        
                    </li>

                    <li class="nav-item">
                        <button type="button" class="nav-link" style="border: 0ch; background: transparent;" data-bs-toggle="modal" data-bs-target="#modalDel">
                            hapus Data
                        </button>
                    </li>
                </ul>
                
                <form class="d-flex" onsubmit="window.location.replace('?search='+document.getElementById('search').value); alert('Searching!')">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search">
                    <button class="btn btn-outline-success" type="submit" >Search</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- End Nav -->

    <!-- Start Modal -->
    <div class="modal fade" id="modalAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tambah Data</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <script>
                    function toggleTambah(){
                        let judulBox = document.getElementById('tambahJudul').value
                        let judulCaption = document.getElementById('tambahJudulCaption')
                        let penerbitBox = document.getElementById('tambahPenerbit').value
                        let penerbitCaption = document.getElementById('tambahPenerbitCaption')
                        let genreBox = document.getElementById('tambahGenre').value
                        let genreCaption = document.getElementById('tambahGenreCaption')
                        let hargaBox = document.getElementById('tambahHarga').value
                        let hargaCaption = document.getElementById('tambahHargaCaption')
                        let submit = document.getElementById('tambahSubmit')
                        
                        if(judulBox.length > 100){
                            judulCaption.classList.remove("visually-hidden")
                        } else {
                            judulCaption.classList.add("visually-hidden")
                        }

                        if(penerbitBox.length > 100){
                            penerbitCaption.classList.remove("visually-hidden")
                        } else {
                            penerbitCaption.classList.add("visually-hidden")
                        }

                        if(genreBox.length > 50){
                            genreCaption.classList.remove("visually-hidden")
                        } else {
                            genreCaption.classList.add("visually-hidden")
                        }

                        if(Number(hargaBox).toString() == 'NaN'){
                            hargaCaption.classList.remove("visually-hidden")
                        } else {
                            hargaCaption.classList.add("visually-hidden")
                        }

                        
                        if(judulBox.length > 100 || judulBox.length < 1 || penerbitBox.length > 100 || penerbitBox.length < 1  || genreBox.length > 50 || genreBox.length < 1 || Number(hargaBox).toString() == 'NaN' || hargaBox.length == 0){
                            submit.classList.add('disabled')
                        } else {
                            submit.classList.remove('disabled')
                        }
                    }

                    function tambahData(){
                        const body = {
                            judulBuku : document.getElementById('tambahJudul').value,
                            penerbitBuku : document.getElementById('tambahPenerbit').value,
                            genreBuku : document.getElementById('tambahGenre').value,
                            hargaBuku : document.getElementById('tambahHarga').value
                        }

                        
                        fetch('/buku', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(body),
                        })
                        .then((response) => response.json())
                        
                        //Then with the data from the response in JSON...
                        .then((data) => {
                            console.log('Success:', data);
                        })
                        
                        //Then with the error genereted...
                        .catch((error) => {
                            console.error('Error:', error);
                        });
                        
                        alert('Tambah Data Berhasil')
                        return window.location.reload()
                    }
                </script>

                <div class="modal-body">
                    <div class="row g-3 align-items-center">
                        <div class="col-2">
                            <label for="tambahJudul" class="col-form-label">Judul</label>
                        </div>

                        <div class="col-9">
                            <input id="tambahJudul" class="form-control" aria-describedby="passwordHelpInline" onkeyup="toggleTambah()">
                        </div>

                        <div class="col-10">
                            <span id="tambahJudulCaption" class="form-text visually-hidden">
                            Judul maksimal 100 karakter
                            </span>
                        </div>

                        <br>

                        <div class="col-2">
                            <label for="tambahPenerbit" class="col-form-label">Penerbit</label>
                        </div>

                        <div class="col-9">
                            <input id="tambahPenerbit" class="form-control" aria-describedby="passwordHelpInline" onkeyup="toggleTambah()">
                        </div>

                        <div class="col-10">
                            <span id="tambahPenerbitCaption" class="form-text visually-hidden" onkeyup="toggleTambah()">
                            Penerbit maksimal 100 karakter
                            </span>
                        </div>

                        <br>
                        
                        <div class="col-2">
                            <label for="tambahGenre" class="col-form-label">Genre</label>
                        </div>

                        <div class="col-9">
                            <input id="tambahGenre" class="form-control" aria-describedby="passwordHelpInline" onkeyup="toggleTambah()">
                        </div>

                        <div class="col-10">
                            <span id="tambahGenreCaption" class="form-text visually-hidden">
                            Genre maksimal 100 karakter
                            </span>
                        </div>

                        <br>
                        
                        <div class="col-2">
                            <label for="tambahHarga" class="col-form-label">Harga</label>
                        </div>

                        <div class="col-9">
                            <input id="tambahHarga" class="form-control" aria-describedby="passwordHelpInline" onkeyup="toggleTambah()">
                        </div>

                        <div class="col-10">
                            <span id="tambahHargaCaption" class="form-text visually-hidden">
                            Harga harus berupa angka
                            </span>
                        </div>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Tutup</button>
                    <button type="button" id="tambahSubmit" class="btn btn-primary disabled" onclick="tambahData()">Tambah Data</button>
                </div>
                
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Data</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <script>
                    function toggleupdate(){
                        let idBox = document.getElementById('updateId').value
                        let idCaption = document.getElementById('updateIdCaption')
                        let judulBox = document.getElementById('updateJudul').value
                        let judulCaption = document.getElementById('updateJudulCaption')
                        let penerbitBox = document.getElementById('updatePenerbit').value
                        let penerbitCaption = document.getElementById('updatePenerbitCaption')
                        let genreBox = document.getElementById('updateGenre').value
                        let genreCaption = document.getElementById('updateGenreCaption')
                        let hargaBox = document.getElementById('updateHarga').value
                        let hargaCaption = document.getElementById('updateHargaCaption')
                        let submit = document.getElementById('updateSubmit')
                        
                        if(Number(idBox).toString() == 'NaN'){
                            idCaption.classList.remove("visually-hidden")
                        } else {
                            idCaption.classList.add("visually-hidden")
                        }

                        if(judulBox.length > 100){
                            judulCaption.classList.remove("visually-hidden")
                        } else {
                            judulCaption.classList.add("visually-hidden")
                        }

                        if(penerbitBox.length > 100){
                            penerbitCaption.classList.remove("visually-hidden")
                        } else {
                            penerbitCaption.classList.add("visually-hidden")
                        }

                        if(genreBox.length > 50){
                            genreCaption.classList.remove("visually-hidden")
                        } else {
                            genreCaption.classList.add("visually-hidden")
                        }

                        if(Number(hargaBox).toString() == 'NaN'){
                            hargaCaption.classList.remove("visually-hidden")
                        } else {
                            hargaCaption.classList.add("visually-hidden")
                        }

                        
                        if(Number(idBox).toString() == 'NaN' || idBox.length == 0 || judulBox.length > 100 || judulBox.length < 1 || penerbitBox.length > 100 || penerbitBox.length < 1  || genreBox.length > 50 || genreBox.length < 1 || Number(hargaBox).toString() == 'NaN' || hargaBox.length == 0){
                            submit.classList.add('disabled')
                        } else {
                            submit.classList.remove('disabled')
                        }
                    }

                    function updateData(){
                        const body = {
                            idBuku : document.getElementById('updateId').value,
                            judulBuku : document.getElementById('updateJudul').value,
                            penerbitBuku : document.getElementById('updatePenerbit').value,
                            genreBuku : document.getElementById('updateGenre').value,
                            hargaBuku : document.getElementById('updateHarga').value
                        }

                        
                        fetch('/buku', {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(body),
                        })
                        .then((response) => response.json())
                        
                        //Then with the data from the response in JSON...
                        .then((data) => {
                            console.log('Success:', data);
                        })
                        
                        //Then with the error genereted...
                        .catch((error) => {
                            console.error('Error:', error);
                        });
                        
                        alert('update Data Berhasil')
                        return window.location.reload()
                    }
                </script>

                <div class="modal-body">
                    <div class="row g-3 align-items-center">
                        <div class="col-2">
                            <label for="updateId" class="col-form-label">Id</label>
                        </div>

                        <div class="col-9">
                            <input id="updateId" class="form-control" aria-describedby="passwordHelpInline" onkeyup="toggleupdate()">
                        </div>

                        <div class="col-10">
                            <span id="updateIdCaption" class="form-text visually-hidden">
                            ID harus berupa angka
                            </span>
                        </div>

                        <br>

                        <div class="col-2">
                            <label for="updateJudul" class="col-form-label">Judul</label>
                        </div>

                        <div class="col-9">
                            <input id="updateJudul" class="form-control" aria-describedby="passwordHelpInline" onkeyup="toggleupdate()">
                        </div>

                        <div class="col-10">
                            <span id="updateJudulCaption" class="form-text visually-hidden">
                            Judul maksimal 100 karakter
                            </span>
                        </div>

                        <br>

                        <div class="col-2">
                            <label for="updatePenerbit" class="col-form-label">Penerbit</label>
                        </div>

                        <div class="col-9">
                            <input id="updatePenerbit" class="form-control" aria-describedby="passwordHelpInline" onkeyup="toggleupdate()">
                        </div>

                        <div class="col-10">
                            <span id="updatePenerbitCaption" class="form-text visually-hidden" onkeyup="toggleupdate()">
                            Penerbit maksimal 100 karakter
                            </span>
                        </div>

                        <br>
                        
                        <div class="col-2">
                            <label for="updateGenre" class="col-form-label">Genre</label>
                        </div>

                        <div class="col-9">
                            <input id="updateGenre" class="form-control" aria-describedby="passwordHelpInline" onkeyup="toggleupdate()">
                        </div>

                        <div class="col-10">
                            <span id="updateGenreCaption" class="form-text visually-hidden">
                            Genre maksimal 100 karakter
                            </span>
                        </div>

                        <br>
                        
                        <div class="col-2">
                            <label for="updateHarga" class="col-form-label">Harga</label>
                        </div>

                        <div class="col-9">
                            <input id="updateHarga" class="form-control" aria-describedby="passwordHelpInline" onkeyup="toggleupdate()">
                        </div>

                        <div class="col-10">
                            <span id="updateHargaCaption" class="form-text visually-hidden">
                            Harga harus berupa angka
                            </span>
                        </div>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Tutup</button>
                    <button type="button" id="updateSubmit" class="btn btn-primary disabled" onclick="updateData()">update Data</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalDel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Hapus Data</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <script>
                    function togglehapus(){
                        let idBox = document.getElementById('hapusId').value
                        let idCaption = document.getElementById('hapusIdCaption')
                        let submit = document.getElementById('hapusSubmit')

                        if(Number(idBox).toString() == 'NaN'){
                            idCaption.classList.remove("visually-hidden")
                        } else {
                            idCaption.classList.add("visually-hidden")
                        }

                        if(Number(idBox).toString() == 'NaN' || idBox.length == 0){
                            submit.classList.add('disabled')
                        } else {
                            submit.classList.remove('disabled')
                        }
                    }

                    function hapusData(){
                        const body = {
                            idBuku : document.getElementById('hapusId').value,
                        }
                        let yakin = confirm('Apakah anda ingin menghapus data dengan ID '+body.idBuku)
                        
                        if(yakin){
                            fetch('/buku', {
                                method: 'DELETE',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify(body),
                            })
                            .then((response) => response.json())
                            
                            //Then with the data from the response in JSON...
                            .then((data) => {
                                console.log('Success:', data);
                            })
                            
                            //Then with the error genereted...
                            .catch((error) => {
                                console.error('Error:', error);
                            });
                            
                            alert('hapus Data Berhasil')
                            return window.location.reload()
                        } else {
                            return window.location.reload()
                        }

                    }
                </script>

                <div class="modal-body">
                    <div class="row g-3 align-items-center">
                        <div class="col-2">
                            <label for="hapusId" class="col-form-label">Id</label>
                        </div>

                        <div class="col-9">
                            <input id="hapusId" class="form-control" aria-describedby="passwordHelpInline" onkeyup="togglehapus()">
                        </div>

                        <div class="col-10">
                            <span id="hapusIdCaption" class="form-text visually-hidden">
                            ID harus berupa angka
                            </span>
                        </div>

                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Tutup</button>
                    <button type="button" id="hapusSubmit" class="btn btn-primary disabled" onclick="hapusData()">hapus Data</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->

    <!-- Start Table -->
    <br>
    <h1 class="text-center">Sistem Informasi Database Buku</h1>
    <br>

    <% if(data =='error') { %>
    <h2 class="text-center">Database Error, Please contact your administrator</h2>
    <% } else { %>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID Buku</th>
                <th scope="col">Judul</th>
                <th scope="col">Penerbit</th>
                <th scope="col">Genre</th>
                <th scope="col">Harga</th>
            </tr>
        </thead>
        <tbody>
            <% data.map(x => {%>
            <tr>
                <th scope="row"><%= x.idBuku %></th>
                <td><%= x.judulBuku %></td>
                <td><%= x.penerbitBuku %></td>
                <td><%= x.genreBuku %></td>
                <td><%= x.hargaBuku %></td>
            </tr>
            <% })%>
        </tbody>
    </table>
            
    <% } %>
    <!-- End Table -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="bootstrap.js"></script>
</body>
</html>